<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DocumentServiceSoap11Binding" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="ProjectServiceSoap11Binding" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="TargetServiceSoap11Binding" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="DocumentServiceSoap11Binding1" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
                    textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                    messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="DocumentServiceSoap11Binding2" />
                <binding name="ProjectServiceSoap11Binding1" />
                <binding name="TargetServiceSoap11Binding1" />
                <binding name="UserProfileServiceSoap11Binding" />
                <binding name="SubmissionServiceSoap11Binding" />
            </basicHttpBinding>
            <customBinding>
                <binding name="DocumentServiceSoap12Binding">
                    <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
                        messageVersion="Soap12" writeEncoding="utf-8">
                        <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    </textMessageEncoding>
                    <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
                        maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
                        bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                        keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
                        realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
                        useDefaultWebProxy="true" />
                </binding>
                <binding name="ProjectServiceSoap12Binding">
                    <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
                        messageVersion="Soap12" writeEncoding="utf-8">
                        <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    </textMessageEncoding>
                    <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
                        maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
                        bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                        keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
                        realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
                        useDefaultWebProxy="true" />
                </binding>
                <binding name="TargetServiceSoap12Binding">
                    <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
                        messageVersion="Soap12" writeEncoding="utf-8">
                        <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    </textMessageEncoding>
                    <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
                        maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
                        bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                        keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
                        realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
                        useDefaultWebProxy="true" />
                </binding>
                <binding name="DocumentServiceSoap12Binding1">
                    <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
                        messageVersion="Soap12" writeEncoding="utf-8">
                        <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    </textMessageEncoding>
                    <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
                        maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
                        bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
                        keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
                        realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
                        useDefaultWebProxy="true" />
                </binding>
                <binding name="DocumentServiceSoap12Binding2">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="ProjectServiceSoap12Binding1">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="TargetServiceSoap12Binding1">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="UserProfileServiceSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="SubmissionServiceSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/services/DocumentService.DocumentServiceHttpSoap11Endpoint"
                binding="basicHttpBinding" bindingConfiguration="DocumentServiceSoap11Binding1"
                contract="GlobalLink.WebServices.DocumentServicePortType"
                name="DocumentServiceHttpSoap11Endpoint1" />
            <endpoint address="http://localhost/services/DocumentService.DocumentServiceHttpSoap12Endpoint"
                binding="customBinding" bindingConfiguration="DocumentServiceSoap12Binding1"
                contract="GlobalLink.WebServices.DocumentServicePortType"
                name="DocumentServiceHttpSoap12Endpoint1" />
            <endpoint address="http://localhost/services/DocumentService_4130.DocumentServiceHttpSoap11Endpoint"
                binding="basicHttpBinding" bindingConfiguration="DocumentServiceSoap11Binding2"
                contract="DocumentServiceRef.DocumentServicePortType" name="DocumentServiceHttpSoap11Endpoint" />
            <endpoint address="http://localhost/services/DocumentService_4130.DocumentServiceHttpSoap12Endpoint"
                binding="customBinding" bindingConfiguration="DocumentServiceSoap12Binding2"
                contract="DocumentServiceRef.DocumentServicePortType" name="DocumentServiceHttpSoap12Endpoint" />
            <endpoint address="http://localhost/services/ProjectService_4130.ProjectServiceHttpSoap11Endpoint"
                binding="basicHttpBinding" bindingConfiguration="ProjectServiceSoap11Binding"
                contract="ProjectServiceRef.ProjectServicePortType" name="ProjectServiceHttpSoap11Endpoint" />
            <endpoint address="http://localhost/services/ProjectService_4130.ProjectServiceHttpSoap12Endpoint"
                binding="customBinding" bindingConfiguration="ProjectServiceSoap12Binding"
                contract="ProjectServiceRef.ProjectServicePortType" name="ProjectServiceHttpSoap12Endpoint" />
            <endpoint address="http://localhost/services/TargetService_4130.TargetServiceHttpSoap11Endpoint"
                binding="basicHttpBinding" bindingConfiguration="TargetServiceSoap11Binding"
                contract="TargetServiceRef.TargetServicePortType" name="TargetServiceHttpSoap11Endpoint" />
            <endpoint address="http://localhost/services/TargetService_4130.TargetServiceHttpSoap12Endpoint"
                binding="customBinding" bindingConfiguration="TargetServiceSoap12Binding"
                contract="TargetServiceRef.TargetServicePortType" name="TargetServiceHttpSoap12Endpoint" />
            <endpoint address="http://localhost/services/UserProfileService_4130.UserProfileServiceHttpSoap11Endpoint"
                binding="basicHttpBinding" bindingConfiguration="UserProfileServiceSoap11Binding"
                contract="UserProfileServiceRef.UserProfileServicePortType"
                name="UserProfileServiceHttpSoap11Endpoint" />
            <endpoint address="http://localhost/services/UserProfileService_4130.UserProfileServiceHttpSoap12Endpoint"
                binding="customBinding" bindingConfiguration="UserProfileServiceSoap12Binding"
                contract="UserProfileServiceRef.UserProfileServicePortType"
                name="UserProfileServiceHttpSoap12Endpoint" />
            <endpoint address="http://localhost/services/SubmissionService_4130.SubmissionServiceHttpSoap11Endpoint"
                binding="basicHttpBinding" bindingConfiguration="SubmissionServiceSoap11Binding"
                contract="SubmissionServiceRef.SubmissionServicePortType"
                name="SubmissionServiceHttpSoap11Endpoint" />
            <endpoint address="http://localhost/services/SubmissionService_4130.SubmissionServiceHttpSoap12Endpoint"
                binding="customBinding" bindingConfiguration="SubmissionServiceSoap12Binding"
                contract="SubmissionServiceRef.SubmissionServicePortType"
                name="SubmissionServiceHttpSoap12Endpoint" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
